<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Gestion des offres de trajets{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

    {% if not app.user or app.user.styleChoix == 1 %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% else %}
        <link rel="stylesheet" href="/css/bootstrap-dark.css">
    {% endif %}


<body>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/trajet">Offres des trajets</a>      
    {% if (app.user) %}
        {% if is_granted('ROLE_USER') %}
                    <a href="/nouveau-trajet" class="navbar-brand">{{ 'trajet-create'|trans }}</a>
                    <a href="/utilisateur-trajets" class="navbar-brand">Mes annonces</a>

                    <a href="/utilisateur-inscriptions" class="navbar-brand">Mes inscriptions</a>

        {% if is_granted('ROLE_ADMIN') %}

            <a href="/admin/utilisateur" class="navbar-brand">Administration</a>

            {% endif %}
        {% endif %}
    {% else %}

            <a href="/nouveau-utilisateur" class="navbar-brand">S'inscrire</a>

    {% endif %}

            {% if app.user %}
                <a href="/logout" class="navbar-brand">Déconnexion</a>
            {% else %}
                <a href="/login" class="navbar-brand">Connexion</a>
            {% endif %}

</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
