<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Gestion des offres de trajets{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
{% if app.user %}
    {% if app.user.styleChoix == 1 %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% elseif app.user.styleChoix == 2 %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% endif %}
    {% else %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endif %}

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/trajet">Offres des trajets</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if (app.user) %}
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <div>
                                <a href="/nouveau-trajet" class="btn btn-default navbar-btn">{{ 'trajet-create'|trans }}</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="/utilisateur-trajets" class="btn btn-default navbar-btn">Mes annonces</a>
                            </div>
                        </li>
                        <li>
                            <div>
                                <a href="/utilisateur-inscriptions" class="btn btn-default navbar-btn">Mes inscriptions</a>
                            </div>
                        </li>

                    {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <div>
                        <a href="/admin/utilisateur" class="btn btn-default navbar-btn">Administration</a>
                    </div>
                </li>
                        {% endif %}
                    {% endif %}
                {% else %}
                <li>
                    <div>
                        <a href="/nouveau-utilisateur" class="btn btn-default navbar-btn">S'inscrire</a>
                    </div>
                </li>
                {% endif %}
                <li>
                    <div>
                        {% if app.user %}
                            <a href="/logout" class="btn btn-default navbar-btn">Déconnexion</a>
                        {% else %}
                            <a href="/login" class="btn btn-default navbar-btn">Connexion</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
